<!DOCTYPE html>  
<html lang="en">  
	<head>
		<% include ./partials/head %>
	</head>
	<body>
		<% include ./partials/header %>
		<% include ./partials/logout %>
		<div class="main-container">
			<h3>Users owning <%= book.title %></h3>
			<% for(var i=0; i<users.length; i++) {%>
				<div class="user-item">
					<p class="user-name-email">
						<%= users[i].name %> (<%= users[i].email %>)
					</p>
					<p class="item-delete" title="Deactivate User" data-user="<%= users[i]._id %>">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</p>
					<div class="user-contact-info">
						<p>
							<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
							<%= users[i].contactNo %>
						</p>
						<p>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<span>
								<%= users[i].currentLocation.address.formatted_address %>
							</span>
						</p>
						<p>
							<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
							<span>
								<%= users[i].currentLocation.position.latitude %>, <%= users[i].currentLocation.position.longitude%> 
							</span>
						</p>
					</div>
					<div class="user-searched-locations">
						<% for(var j=0; i<users[i].searchLocations; j++) {%>
						<p>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<span>
								Search Locations
							</span>
						</p>
						<% } %>
					</div>
				</div>
			<% } %>
		</div>
    </body>
</html>
    