<!DOCTYPE html>  
<html lang="en">  
	<head>
		<% include ./partials/head %>
	</head>
	<body>
		<% include ./partials/header %>
		<% include ./partials/logout %>
		<div class="main-container">
			<h3>Books Owned by <span class="book-owner-name"><%= user.name %></span></h3>
			<% for(var i=0; i<books.length; i++) { %>
				<div class="book-item">
					<p class="book-name">
						<%= books[i].title %>
					</p>
					<p class="item-disown" title="Remove from Owned" data-book="<%= books[i]._id %>" data-user="<%= user._id %>">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</p>
					<div class="book-details">
						<div class="book-image">
							<img src="<%= books[i].thumbnail %>" />
						</div>
						<div class="book-info">
							<p>
								<strong>ISBN :</strong> <%= books[i].isbn %>
							</p>
							<p>
								<strong>Authors : </strong>
								<% for(var j=0; j< books[i].authors.length; j++) { %>
									<%= books[i].authors[j] %>, 
								<% } %>
							</p>
							<p>
								<strong>Genre :</strong>
								<% for(var j=0; j< books[i].genre.length; j++) { %>
									<%= books[i].genre[j] %>, 
								<% } %>
							</p>
							<p>
								Published by <%= books[i].publishers %> on <%= books[i].publishedDate %>
							</p>
						</div>
						<div class="clearfix"></div>
						<% if(books[i].description) { %>
							<div>
								<h4>Description</h4>
								<p>
									<%= books[i].description %>
								</p>
							</div>
						<% } %>
					</div>
				</div>
			<% } %>
		</div>
    </body>
</html>
    