<!DOCTYPE html>  
<html lang="en">  
	<head>
		<% include ./partials/head %>
	</head>
	<body>
		<% include ./partials/header %>
		<% include ./partials/logout %>
		<div class="main-container">
			<h3>Inactive User List</h3>
			<nav class="pagination-nav">
				<ul class="pagination">
					<li class="disabled">
			      		<a href="#" aria-label="Previous">
			        		<span aria-hidden="true">&laquo;</span>
			      		</a>
			    	</li>
					<% for(var i=1; i<=totalPages; i++) {%>
						<% if(i === currentPage) { %>
				    		<li class="active"><a href="/admin/users?page=1"><%= i %></a></li>
				    	<% } else { %>
				    		<li><a href="/admin/users?page=<%= i %>"><%= i %></a></li>
				    	<% } %>
			    	<% } %>
			    	<li>
			      		<a href="#" aria-label="Next">
			        		<span aria-hidden="true">&raquo;</span>
			      		</a>
			    	</li>
			  	</ul>
			</nav>
			<% for(var i=0; i<users.length; i++) {%>
				<div class="user-item">
					<p class="user-name-email">
						<%= users[i].name %> (<%= users[i].email %>)
					</p>
					<p class="item-activate" title="Activate User" data-user="<%= users[i]._id %>">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</p>
					<div class="user-contact-info">
						<p>
							<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
							<%= users[i].contactNo %>
						</p>
						<p>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<span>
								<%= users[i].currentLocation.address.formatted_address %>
							</span>
						</p>
						<p>
							<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
							<span>
								<%= users[i].currentLocation.position.latitude %>, <%= users[i].currentLocation.position.longitude%> 
							</span>
						</p>
					</div>
					<div class="user-searched-locations">
						<% for(var j=0; i<users[i].searchLocations; j++) {%>
						<p>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<span>
								Search Locations
							</span>
						</p>
						<% } %>
					</div>
					<a href="/admin/users/books/<%= users[i]._id %>" +  class="btn btn-darkTeal view-owned-books" target="_blank">View Owned Books</a>
				</div>
			<% } %>
		</div>
    </body>
</html>
    